@import "src/shared/Variables";

.restaurant-item {
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 30%;
  min-width: 200px;
  min-height: 100px;
  background-color: $color-grey-0;
}

.res-info-wrapper {
  min-height: 48px;
  min-width: 512px;
  background-color: $color-grey-0;
  position: relative;
}

.cancel-choice {
  width: 25px;
  height: 25px;
  background-color: $color-red;
  right: -8px;
  top: -8px;
  position: absolute;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    opacity: .7;
  }
}