.flex {
  display: flex;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }

  &--column {
    flex-direction: column;
  }
}

//paddings
.p0 {
  padding: 0;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

//margins

.m8 {
  margin: 8px;
}

.m16 {
  margin: 16px;
}

//widths

.w100 {
  width: 100%;
}