//colors
$color-red: red;
$color-blue: royalblue;
$color-blue-2: #07D4E8;
$color-grey-0: lightgrey;
$color-grey-1: grey;

$color-success: lightgreen;

$opacity75: rgba(0, 0, 0, 0.75);
$opacity25: rgba(0, 0, 0, 0.25);