@import "../../shared/Variables";

.list-item {
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 30%;
  min-width: 200px;
  min-height: 100px;
  background-color: $color-grey-0;

  &--clickable {
    cursor: pointer;
  }
}