@import "../../../shared/Variables";

.list-wrapper {
  min-height: 56px;
}

.res-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 0 30%;
}

.item-wrapper {
  display: flex;
  background-color: lightgreen;
  position: relative;
}

.delete-item {
  position: absolute;
}