@import "../_variables";

.btn {
  border-radius: 8px;
  font-size: 14px;
  color: white;
  height: 36px;
  border: none;
  min-width: 64px;

  &--regular {
    background-color: $color-blue;
  }

  &--delete {
    background-color: $color-red;
  }

  &:hover {
    opacity: 0.7;
  }
}