@import "src/shared/Variables";

.btn {
  border-radius: 8px;
  font-size: 14px;
  background-color: $color-blue;
  color: white;
  height: 36px;
  border: none;
  min-width: 64px;

  &:hover {
    opacity: 0.7;
  }
}